/*=========== Global ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
}
.clear{
    clear: both;
}
/* =============Header============ */
.header__top{
    background-color: #002147;
    color: #fff;
    height: 40px;
}
.header__icon{
    padding: 10px 13%;
}
.header__icon i{
    color: #fc0;
    margin-right: 35px;
}
.header__icon span{
    color: #fff;
    margin-left: 10px;
    font-weight: normal;
}
.header__icon button{
    float: right;
    background-color: #fc0;
    color: black;
    padding: 10px 20px;
    margin-top: -10px;
    border: 2.5px solid #fc0;
    font-weight: bolder;
}
.header__bottom{
    background-color: #fff;
    height: 2.6%;
    padding: 10px 13%;
}
.header__logo{
    position: relative;
}
.header__logo i{
    background-color: #000;
    width: 35px;
    height: 35px;
    color: #fc0;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    line-height: 35px ;
    margin-right: 10px;
}
.header__logo p{
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 45px;
    top: 0px;
}
.header__menu{
    margin-top: 10px;
}
.header__menu li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    font-size: 14px;
}
.header__menu a{
    text-decoration: none;
    color: #000;
}
.header__menu li a.active{
    color: #fc0;
}
/*============== Carousel========== */
.carousel{
    position: relative;
}
.carousel__img{
    background-image: url('../img/2.jpg');
    background-size: cover;
    /* background-position: center; */
    height: 500px;
    filter: brightness(50%);
}
.carousel__content{
    padding: 0 12.5%;
    position: absolute;
    left: 0;
    bottom: -200px;
}
.carousel__item{
    float: left;
    width: 33.3%;
    padding: 10px;
}
.carousel__text{
    background-color: #fff;
    text-align: center;
    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2),-5px -5px 5px rgba(0,0,0,0.2);
}
.carousel__text i{
    font-size: 25px;
    color: #fc0;
    margin-bottom: 20px;
}
.carousel__text p{
    margin: 30px 0;
    font-size: 14px;
}
.carousel__text button{
    background-color: #fc0;
    color: #000;
    border: 1px solid #fc0;
    padding: 10px 20px;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
}
/*============ About ================*/
.about{
    padding: 320px 12.5% 50px;
    position: relative;
}
.about__notify__item{
    float: left;
    width: 50%;
    padding: 10px;
}
.about__notify__item p{
    margin: 20px 0;
}
.about__notify__item button{
    outline: none;
    background-color: #fc0;
    color: black;
    border: 1px solid #fc0;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}
.about__notify__item img{
    width: 95%;
    height: 100%;
    margin-left: 5%;
}
.about__list{
    /* position: absolute;
    width: 75%;
    bottom: -550px; */
    margin-top: 450px;
    margin-bottom: 170px;
}
.about__list__item{
    float: left;
    width: 25%;
    padding: 10px;
}
.about__list__text{
    text-align: center;
    color: #fff;
    background-color: #002147;
    padding: 30px 0;
}
.about__list__item i{
    font-size: 30px;
    margin-bottom: 20px;
}
.about__list__item p{
    font-size: 14px;
}
/*========== Services ===========*/
.services{
    
}
.services__number{
    padding: 0 12.5%;
    background-color: #f6f6f6;
    height: 170px;
}
.services__item{
    float: left;
    width: 25%;
    padding: 60px 25px 30px 15px;
}
.services__item h1{
    font-size: 45px;
}
.services__item p{
    margin-left: 60px;
    margin-top: -50px;
}
.services__img{
    height: 400px;
    background-image: url('../img/3.jpg');
    background-size: cover;
    background-position-y: center;
    color: #fff;
}
.services__img__content{
    padding: 30px 12.5%;
    background-color: rgba(0,40,100 ,0.7);
    height:400px;
}
.services__img__item{
    float: left;
    width: 50%;
    padding: 30px 20px;
}
.services__img__text{
    padding-right: 15px;
}
.services__img__text1{
    text-align: center;
}
.services__img__item img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #fff;
}
.services__img__item p{
    margin: 20px 0;
    font-size: 14px;
}
/*========== Contact ==========*/
.contact{
    background-color: #f6f6f6;
    padding: 50px 12.5%;
    height: 700px;
}
.contact hr{
    border-top: 1px solid gray;
    margin: 20px 0;
}
.contact button{
    padding: 10px 20px;
    border: 1px solid #fc0;
    background-color: #fc0;
    float: right;
    font-weight: bolder;
}
.contact__item{
    float: left;
    width: 50%;
    padding: 0 20px;
}
.contact__posts__content{
    padding: 25px 15px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}
.contact__posts__item img{
    width: 30%;
}
.contact__posts__text{
    float: right;
    width: 65%;
    margin-left: 15px;
    margin-top: -7px;
}
.contact__posts__text span{
    line-height: 33px;
    font-size: 14px;
    color: gray;
}
.contact__events__content{
    margin-top: 40px;
}
.contact__events__item{
    padding: 15px;
    background-color: #fff;
    height: 180px;
    margin-bottom: 20px;
}
.contact__events__day{
    width: 80px;
    padding: 10px 20px;
    text-align: center;
    background: #fc0;
}
.contact__events__day p{
    background-color: #002147;
    color: #fff;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-left: -20px;
    margin-bottom: -10px;
    font-size: 14px;
}
.contact__events__text{
    float: right;
    width: 75%;
    margin-top: -105px;
    position: relative;
}
.contact__events__text h4{
    color: #002147;
}
.contact__events__text p{
    font-size: 14px;
    margin: 15px 0 10px;
}
.contact__events__text span{
    float: left;
    width: 48%;
    color: #002147;
}
.vr__1{
    border-right: 2px solid gray;
    height: 20px;
    position: absolute;
    left: 35%;
    opacity: 0.5;
}
/*========= Foodter =========*/
.foodter{
    padding: 40px 12.5%;
    background-color: #002147;
    height: 400px;
}
.foodter__content{
    float: left;
    width: 50%;
    color: #fff;
    padding: 0 20px;
    position: relative;
}
.foodter__content li{
    list-style-type: none;
    line-height: 35px;
    font-size: 14px;
}
.foodter__content i{
    color: #fc0;
    margin-right: 15px;
}
.foodter__content h2{
    margin-bottom: 25px;
    font-size: 18px;
}
.foodter__contact{
    width: 65%;
}
.foodter__featured{
    float: right;
    width: 30%;
    margin-top:-155px;
}
.foodter__quick{
    padding-left: 30%;
}
.foodter hr{
    border-top: 1px solid gray;
    opacity: 0.4;
    margin: 250px 0 20px;
}
.foodter__copy{
    color: #fff;
    width: 100%;
}
.foodter__copy span.copy_1{
    float: right;
    margin-left: 15px;
}


